{{- with site.Params.comments.giscus -}}

<script src="https://giscus.app/client.js"
        data-repo="alex-oswald/alexoswald.com"
        data-repo-id="R_kgDOGSe--w"
        data-category="Announcements"
        data-category-id="DIC_kwDOGSe--84CaHp7"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

{{- else -}}
  {{ warnf "giscus is not configured" }}
{{- end -}}